.horizontalScroll {
	border: 1px solid #DD4814;
	border-top: none;
	border-right:none; 
	font-style: italic;
	padding: 0 0 0 80px;
	box-shadow: 0 2px 5px -3px #000;
	position: relative;
	top: -21px;
}
.horizontalScroll:before {
	content: "rastgele";
	display: inline-block;
	font-style: normal;
	background: #DD4814;
	padding: 10px;
	color: #FFF;
	font-weight: bold;
	position: absolute;
	top: 0;
	left: 0;
}
.horizontalScroll:after {
    content: '';
    display: block;
    top: 0;
    left: 80px;
    background: linear-gradient(#FFF, rgba(255, 255, 255, 0));
    height: 20px;
}
.horizontalScroll ul li {
	list-style: none;
	padding: 10px 0;
}